*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-img{
    width: 100%;
    height: 100vh;
    background-image:url("./images/img1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-img {
    width: 150px;
    height: 70px;
    
}
.container{
    /* background-color: aliceblue; */
    display: flex;
 justify-content: space-evenly ;
 align-items: center;
    gap: 15px;
}
ul{ list-style:none ;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    }
   .abc{
    list-style: none;
    text-decoration: none;
    color: #fff;
   }
   .icon{
    width: 50px;
    height: 50px;
   }
   .colour{
    color: #fff;
   }
.position{
    padding-top: 300px;
    padding-left: 100px;
    color: #fff;
    gap: 10px;
}
.box{
    background: transparent;
    color: #fff;
    width: 100px;
    height: 60px;
    margin-top: 20px;
    outline: none;
    border:1px solid #fff;
    font-weight: bold;

}
.change{
    margin-top: 10px;

}
.font1{
    font-size: 50px;
}
.font4{
    font-size: 25px;
}
.bg-image2{
    width: 100%;
    height: 100vh;
    background-color: #3a1616;
     background-image: url("./cover2.jpg"); 
}
.new{
    padding-top: 350px;
    padding-left: 100px;
    color: #fff;
    gap: 10px;
    margin-top: 10px;
}
.button{
    background: transparent;
    color: #fff;
    width: 100px;
    height: 60px;
    margin-top: 20px;
    outline: none;
    border:1px solid #fff;
    font-weight: bold;
}
.size{font-size: 25px;

}
.size1{
    font-size: 50px;
}
.img3{ width: 100%;
    height: 100vh;
    background-color: #3a1616;
     background-image: url("./img3.jpg");

}
.new3{
    padding-top: 350px;
    padding-left: 100px;
    color: #fff;
    gap: 10px;
    margin-top: 10px;
}

.on{
    background: transparent;
    color: #fff;
    width: 100px;
    height: 60px;
    margin-top: 20px;
    outline: none;
    border:1px solid #fff;
    font-weight: bold;
}
.size34{
    font-size: 25px;
}
.size32{
    font-size: 50px;
}
.size31{
    font-size: 50px;
}
.image4{
    width: 100%;
    height: 100vh;
    background-color: #3a1616;
     background-image: url("./img4.jpg");
}
.fourth {
    padding-top: 350px;
    padding-left: 100px;
    color: #fff;
    gap: 10px;
    margin-top: 10px;
}
.size43{

    font-size: 25px;
}
   .size41{
    font-size: 50px;
   } 
   .on4{
    background: transparent;
    color: #fff;
    width: 100px;
    height: 60px;
    margin-top: 20px;
    outline: none;
    border:1px solid #fff;
    font-weight: bold;
   }
   .foot{
    width: 100%;
    min-height: 100PX;
    background-color: black;
    
    gap: 10px;
    text-decoration: none;
   }
   .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding-top: 50px;
    

   }
   .footerline{

    gap: 10px;
    text-decoration: none;
    color: #fff;
    
    align-items: center;
   }